<div class="col-md-3 chatrooms-sidebar">
  <h5>Chatrooms</h5>
  <ul>
    <% current_user.chatrooms.each do |chatroom| %>
      <li><%= link_to  chatroom.name, chatroom_path(chatroom) %></li>
    <% end %>
  </ul>
</div>
