<div class="col-md-3 chatrooms-sidebar text-center">
  <div class="chatroom-users">
    <div class="dm-users">
      <% current_user.following.each do |user| %>
        <%= render partial:'users/user_info', locals: { user: user } %>
      <% end %>
    </div>
  </div>
</div>
