<div class="col-md-12 dm-user-info">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <%= link_to user_path(user) do %>
            <%= user_avatar(user, 45)%>
          <% end %>
        </div>
        <div class="col-md-10 text-left">
          <div class="user-content ml-2">
            <span class="name"><%= link_to user.name, direct_message_path(user.username), data: { behaviour: 'chatroom-link', chatroom_id: ""} %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
