<%= render partial: 'shared/stats' %>
<% if current_user == @user %>
  <%= render 'posts/create_post_modal' %>
<% else %>
  <div id="follow-unfollow">
    <%= render 'follow_form' if logged_in? %>
  </div>
<% end %>
