<% provide(:title, 'Edit Profile') %>
<% provide(:button_text, 'Save Changes') %>
<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <h5>Edit Profile</h5>
    <hr>
    <%= render 'form' %>
  </div>
</div>
