<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Sign Up') %>
<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <%= render 'shared/alerts'%>
    <h5>Sign Up</h5>
    <hr>
    <%= render 'form' %>
  </div>
</div>
