$primary-color: #22292f;
$secondary-color: #606f7b;
$tertiary-color: #8795a1;

$navbar-primary: hsl(194, 23%, 92%);
$navbar-hover: hsl(194, 23%, 80%);
$navbar-background-color: #2d3748;

$body-icons: rgb(136, 153, 166);
$box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.08);
$border: 1px solid rgba(0, 0, 0, 0.125);
$border-radius: 4px;

$button-color: #4299e1;
