@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';
body,
html {
  height: 100%;
  // background-color: #f7fafc;
}
.signup-page,
.signin-page {
  // background: url('../../assets/images/background.jpg') no-repeat center center
  //   fixed;
  // background-size: 100% 100%;
  // height: 100%;
  // position: absolute;
  // width: 100%;
  background-color: #f7fafc;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/fira-sans-v10-latin/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('../../assets/fonts/fira-sans-v10-latin/fira-sans-v10-latin-regular.eot')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../../assets/fonts/fira-sans-v10-latin/fira-sans-v10-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../assets/fonts/fira-sans-v10-latin/fira-sans-v10-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../../assets/fonts/fira-sans-v10-latin/fira-sans-v10-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../assets/fonts/fira-sans-v10-latin/fira-sans-v10-latin-regular.svg')
      format('svg'); /* Legacy iOS */
}

/************************** Devise views *************************/
.devise-form {
  background-color: rgb(255, 255, 255);
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  .form-control {
    padding: 1.4rem 1.1rem !important;
  }
  .form-group {
    margin-bottom: 1.5rem !important;
  }
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.08);
  .signin-button {
    background-color: #4299e1 !important;
    border: none;
    color: white;
    padding: 0.6rem 0.75rem !important;
  }
  .sign-in-content {
    margin-bottom: 3rem;
    .main-content {
      font-size: 1.75rem;
      font-weight: 100;
      margin-bottom: 10px !important;
      color: #343a40 !important;
    }
    .helper-content {
      margin-top: 0px !important;
    }
  }
}
.github-button {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  padding: 0.6rem 0.75rem !important;
}
.create-account-link,
.forgot-password-link,
.cancel-account-link {
  color: rgba(34, 41, 47, 0.75);
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: rgba(34, 41, 47, 1);
  }
}
.not-registered {
  color: rgba(34, 41, 47, 0.65);
}

/************************** End of Devise views *************************/

/************************** Navbar *************************/

.bell-icon,
.comment-icon,
.delete-icon,
.share-icon,
.heart-icon,
.pencil-icon,
.home-icon,
.explore-icon,
.profile-icon,
.settings-icon,
.logout-icon,
.developer-icon,
.inbox-icon,
.user-icon,
.github-icon {
  width: 1.25rem;
  height: 1.25rem;
  border: none;
}
.notifications,
.navbar-username,
.user-avatar-dropdown,
.navbar-messages,
a.nav-link.login,
a.nav-link.sign-up {
  color: hsl(194, 23%, 92%) !important;
  .nav-link:hover,
  .nav-link:active {
    color: hsl(194, 23%, 80%) !important;
  }
}
.comment-icon,
.delete-icon,
.share-icon,
.heart-icon,
.home-icon,
.explore-icon,
.profile-icon,
.settings-icon,
.logout-icon,
.developer-icon,
.user-icon {
  color: rgb(136, 153, 166);
}
.shared-icon {
  color: rgb(23, 191, 99) !important;
}

.share-icon {
  cursor: pointer;
}

.like {
  fill: rgb(224, 36, 94);
  width: 1.25rem;
  height: 1.25rem;
  border: none;
}
.heart-icon {
  margin-top: -4px;
}
.navbar-light {
  // background-color: hsl(194, 22%, 35%) !important;
  background-color: #2d3748 !important;
  .navbar-brand {
    color: white;
  }
  .navbar-nav .nav-link {
    color: white;
  }
  .search {
    width: 550px !important;
    background-color: hsl(194, 23%, 92%);
    border: none;
    border-radius: 4px;
    // color: hsl(194, 8%, 56%); // icon color
  }
  .navbar-user-avatar,
  .navbar-messages {
    padding: 0 0.5rem;
    // border-left: 2px solid;
  }
}

.navbar-label {
  font-size: 16px;
  margin-left: 5px;
  // color: #606f7b;
}

/************************** End of Navbar *************************/

/************************** Posts ********************************/
.card-body {
  padding-bottom: 0rem !important;
}
.posts {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.08);
}

.post-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.user-avatar {
  max-width: 50px;
  max-height: 50px;
}
.card {
  border: 0px !important;
  border-radius: 0px !important;
}
.post-content {
  color: #606f7b;
  font-size: 16px;
  line-height: 1.5rem;
  padding: 10px 0 10px 0;
}

.user-content {
  .name a {
    color: #22292f;
    font-weight: 600;
  }
  .username {
    color: #8795a1;
    font-size: 14px;
  }
}

.tweet {
  button {
    background-color: #4299e1 !important;
    border: none;
    // margin-top: 10px;
  }
}
.shared-user-info {
  margin-bottom: 1rem;
}
.create-button {
  background-color: #4299e1 !important;
  border: none;
}

/************************** End of Posts ********************************/

.modal-dialog {
  position: relative;
  display: table; /* This is important */
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 600px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #4e616c;
}
.right-nav {
  margin-right: 8em;
}
a {
  text-decoration: none !important;
}
.alert {
  width: 50%;
  margin: 0 auto;
}

.unread {
  border-left: 3px solid rgb(224, 36, 94);
}
#next_page,
#next_page_feed,
#next_page_user {
  text-align: center;
  .btn:focus {
    outline: none;
  }
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
