@import './variables';
.chatroom-users {
  border-right: $border;
  // border-radius: $border-radius;
  // box-shadow: $box-shadow;
  position: relative;
  height: 92.5vh;
  overflow-y: scroll;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .chatrooms-search {
    padding: 15px 0px 15px 25px;
  }
}
.messages-outer {
  border-right: $border;
  // border-radius: $border-radius;
  // box-shadow: $box-shadow;
  .dm-username {
    .receiver-name {
      font-size: 18px;
      color: $primary-color;
      margin-left: 10px;
    }
    .receiver-username {
      display: block;
    }
  }
}
.messages-section {
  bottom: 30px;
  overflow-x: hidden;
  overflow-wrap: anywhere;

  height: 69.5vh;
  overflow-y: auto;
}
.dm-username {
  padding: 20px 0px 0px 0px;
  .header-avatar {
    padding-right: 5px;
  }
  .header-name {
    padding-left: 0px;
  }
}

.message-row {
  margin: 25px 30px 15px 0px;
  .incoming_message {
    .message-body {
      background-color: #fff3cd;
      border: 1px solid #fff3cd;
      border-radius: 8px;
      padding: 5px 15px;
    }
    .message-avatar {
      margin-right: 10px;
    }
  }
  .outgoing_message {
    text-align: right;
    margin-bottom: 5px;
    .message-body {
      background-color: #cce5ff;
      border: 1px solid #cce5ff;
      border-radius: 8px;
      padding: 5px 15px;
    }
  }
  .message-date-outgoing {
    float: right;
    font-size: 12px;
    color: #8795a1;
  }
  .message-date-incoming {
    float: left;
    font-size: 12px;
    color: #8795a1;
    margin-left: 10px;
  }
}
.user-message {
  .last-message {
    font-size: 14px;
    color: #8795a1;
  }
}

.last-message-time {
  font-size: 12px;
  color: #8795a1;
  float: right;
}

.chatrooms-sidebar {
  padding-right: 0px;
}
