.modal-post {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin: 15px;
}
.post-modal-body {
  padding: 0 40px;
}
.selectize-category {
  width: 40%;
}
.post_category_ids {
  margin-top: 20px;
}
