<span><%= post.likes_count %></span>
<% if user_signed_in? && already_liked?(post, current_user) %>
  <%= link_to  post_likes_path(post), method: :delete, remote: true  do%>
    <svg stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="like"><path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
  <% end %>
<% else %>
  <%= link_to post_likes_path(post), method: :post, remote: true do%>
    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="unlike"><path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
  <% end %>
<% end %>
