<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if @posts.count == 0 %>
      <p class="text-center mt-5">Follow users from explore page to view activity feed</p>
    <% else %>
      <%# render @posts %>
      <%# will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center', class: "mt-5") %>
      <%# pagy_bootstrap_nav(@pagy) %>
      <div id="posts-feed">
        <%# render partial: 'posts/post' %>
        <%= render @posts %>
      </div>
      <%# render partial: 'next_page' %>
      <div class="mt-4">
        <%= pagy_bootstrap_nav(@pagy).html_safe %>
      </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
