<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render @posts %>
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center', class: "mt-5") %>
  </div>
  <div class="col-md-2"></div>
</div>
